---
layout: default

meta:
  pgTitle: Boudreau Labs
  pgDesc: Homepage description

skillList:
  - HTML
  - PHP
  - CSS
  - SASS
  - JavaScript
  - Wordpress
  - Headless CMS
  - GIT
  - Responsive Design
  - Automation Tools
  - Static Site Generators
  - CI/CD Automation
  - JAMstack

currentProjects:
  - title: Ker & Downey
    modId: projectKD
    projectUrl: https://kerdowney.com/
    projectDetailTitle: Travel Design Company
    projectDetail: Luxury travel agency. Supported the design with a custom UI library. Custom map integration for selecting a destination.
    badges:
      - Frontend Coding
      - Javascript
      - Map Inegration
    projectImgs:
      - src/assets/images/projects/ker-downey-01.jpg
      - src/assets/images/projects/ker-downey-02.jpg
      - src/assets/images/projects/ker-downey-03.jpg
  - title: Kallista
    modId: projectKLSTA
    projectUrl: https://www.kallista.com/
    projectDetailTitle: Interior design solutions for kitchens & bath spaces
    projectDetail: Custom UI design system to support branding. Frontend code for all CMS templates.
    badges:
      - Frontend Coding
      - Javascript
    projectImgs:
      - src/assets/images/projects/kallista01.jpg
      - src/assets/images/projects/kallista02.jpg
  - title: Portsmouth Harbor Cruise
    modId: projectPHC
    projectUrl: https://portsmouthharbor.com/our-cruises/interactive-cruise-map
    projectDetailTitle: Interactive Cruising
    projectDetail: Map integrations for creating and showing cruise types.
    badges:
      - Frontend Coding
      - Map Inegration
    projectImgs:
      - src/assets/images/projects/portsmouth-harbor-cruise01.jpg
      - src/assets/images/projects/portsmouth-harbor-cruise02.jpg
  - title: Moss Creek - 360 Pano Gallery
    modId: projectMC
    projectUrl: https://gallery.mosscreekmedia.com/
    projectDetailTitle: Data driven panoramic gallery
    projectDetail: 360 Panoramic gallery supporting multiple tag types, map integration and custom UI all driven from a spreadsheet data source.
    badges:
      - Frontend Coding
      - Javascript
      - Map Inegration
      - JAMstack
    projectImgs:
      - src/assets/images/projects/mosscreak-306gallery01.jpg
      - src/assets/images/projects/mosscreak-306gallery02.jpg
      - src/assets/images/projects/mosscreak-306gallery03.jpg
  - title: Cookie Jar Heirloom
    projectUrl: https://heirloom.boudreaulabs.com/quack-case-boudreau-heirloom/
    projectImgs:
      - src/assets/images/projects/heirloom00.jpg
      - src/assets/images/projects/heirloom01.jpg
      - src/assets/images/projects/heirloom04.jpg
      - src/assets/images/projects/heirloom03.jpg
    modId: projectBFH
    badges:
      - UI Design
      - Print Design
      - Frontend Coding
      - 3D Rendering
      - JAMstack
    projectDetailTitle: Family Shenanigans
    projectDetail: The fictional backstory to for a homemade cookie jar that my family affectionatly refers to as the "heirloom".

tempProjects:
  - title: Heron Point Seafood
    modId: projectHPC
    projectUrl: null
    projectDetailTitle: Project Detail Title
    projectDetail: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a nemo voluptates officia cumque ut quas, voluptas nulla aliquid eos.
    badges:
      - Product Design

---
<header>
  <nav id="mainNav" class="navbar bg-black navbar-expand-xxl fixed-top" data-bs-theme="dark">
    <div class="container-xxl">
      <a class="navbar-brand" href="#">
        {{{image "src/assets/images/bl-logo.svg" "Boudreau Labs" null null}}}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link"href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-xxl">
    <div class="row align-items-center min-vh-50 py-5">
      <div class="col-lg-10 col-xxl-6">
        {{!-- <img src="{{root}}/assets/images/mindbulb-beakers.png" alt="" class="img-fluid" height="696" width="450"> --}}
        {{!-- {{{image "src/assets/images/mindbulb-beakers.png" "Boudreau Labs" null 'img-fluid'}}} --}}

        <h1 class="display-3">Aaron Boudreau</h1>
        <p class="h4">Creative Technologist</p>
        <p class="lead text-body-secondary">I'm a graphic designer, UX/UI designer &amp; front-end web developer. I love building engaging and accessible digital experiences.</p>
      </div>
    </div>
  </div>
</header>

<main id="main-content" tabindex="0" data-bs-spy="scroll" data-bs-target="#mainNav">

  {{!-- About --}}
  <section class="section" id="about">
    <div class="container-xxl">
      <div class="row">
        <div class="col">
          <h2>Getting to know me</h2>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-lg-6">
          <p>Detail-oriented and skilled front-end developer with a history in print and digital design. I have evolved into a skilled professional with a keen eye for aesthetics and a lens on accessibility.</p>
          <p>I bring a unique blend of skills and experience to any creative project; driving projects to excellence and ensuring they resonate with a diverse audience.</p>
          <a class="btn btn-outline-primary" href="{{root}}/assets/files/aaron-boudreau-resume.pdf" download>My Resume</a>
        </div>
        <div class="col-lg-6 col-xxl-5 offset-xxl-1">
          <h3 class="h5">Digital Skills</h3>
          <div class="d-flex flex-wrap gap-2 fs-5 pt-1">
            {{#each skillList}}
            <span class="badge text-bg-secondary">{{this}}</span>
            {{/each}}
          </div>
        </div>

        {{!-- <div class="col-lg-4">
          <h3 class="h5">Designer</h3>
          <p class="lead mb-2">Things I enjoy designing</p>
          <ul class="list-inline">
            <li class="list-inline-item">UI</li>
            <li class="list-inline-item">Web</li>
            <li class="list-inline-item">Apps</li>
            <li class="list-inline-item">Logos</li>
            <li class="list-inline-item">Product Assets</li>
          </ul>

          <p class="lead mb-2">Design Toolbox</p>
          <ul class="list-inline">
            <li class="list-inline-item">Figma</li>
            <li class="list-inline-item">Photoshop</li>
            <li class="list-inline-item">Illustrator</li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h3 class="h5">Frontend Developer</h3>
          <p class="lead mb-2">I speak the language of the machines</p>
          <ul class="list-inline">
            <li class="list-inline-item">HTML</li>
            <li class="list-inline-item">PHP</li>
            <li class="list-inline-item">Handlebars</li>
            <li class="list-inline-item">Javascript</li>
            <li class="list-inline-item">CSS</li>
            <li class="list-inline-item">SASS</li>
            <li class="list-inline-item">GIT</li>
          </ul>

          <p class="lead mb-2">Developer Toolbox</p>
          <ul class="list-inline">
            <li class="list-inline-item">Visual Studio Code</li>
            <li class="list-inline-item">Bootstrap</li>
            <li class="list-inline-item">Github</li>
            <li class="list-inline-item">Gulp</li>
            <li class="list-inline-item">Node</li>
            <li class="list-inline-item">Eleventy</li>
            <li class="list-inline-item">Cloudflare Pages</li>
          </ul>

        </div> --}}

      </div>
    </div>
  </section>

  {{!-- Projects --}}
  <section class="section" id="projects">
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-6 position-relative">
          <h2>Recent Projects</h2>
          <p class="lead">Some of my more recent work.</p>
        </div>
        <div class="col-lg-6 col-xxl-5 offset-xxl-1">

          <ul class="list-projects">
            {{#each currentProjects}}
            <li>
              {{!-- {{#if projectImgs}}
                {{{image projectImgs.[0] title null 'img-fluid'}}}
              {{/if}} --}}
              <p class="fs-5 mb-2">
                <a class="stretched-link" href="#{{modId}}" data-bs-toggle="modal"><i class="bi bi-plus-lg me-1 fs-6"></i>{{title}}</a>
              </p>
              <div class="d-flex gap-1 flex-wrap">
                {{!-- {{#if projectUrl}}
                <a href="{{projectUrl}}" class="badge text-bg-primary" target="_blank">
                  <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
                  <span class="visually-hidden">Visit website</span>
                </a>
                {{/if}} --}}
                {{#each badges}}
                  <span class="badge bg-secondary">{{this}}</span>
                {{/each}}
              </div>
            </li>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </section>

  {{!-- Contact --}}
  <section class="section" id="contact">
    <div class="container-xxl">
      <div class="row">
        <div class="col">
          <h2>Let's Connect</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-xxl-7">
          <p class="lead">Got a question or proposal, or just want to chat? I'm always interested about
            <span class="badge bg-secondary">Fontend Development</span>
            <span class="badge bg-secondary">UI/UX Design</span>
            <span class="badge bg-secondary">JAMstack</span>
            <span class="badge bg-secondary">Digging through history</span>
          </p>
          <p><i class="bi bi-envelope-at fs-5"></i> hello@boudreaulabs.com</p>

          <br>

          {{!-- formspark.io form --}}
          <form action="https://submit-form.com/{{#if frontofficecfg.production}}iba6EsFp5{{else}}echo{{/if}}" class="needs-validation" novalidate>

            <div class="row mb-3">
              <div class="col-lg-6">
                <label for="contactName" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="contactName" required>
                <div class="invalid-feedback">
                  No name?! What should I call you then?
                </div>
              </div>
              <div class="col-lg-6">
                <label for="contactEmail" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="contactEmail" required>
                <div class="invalid-feedback">
                  Need a valid email address.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="contactMessage" class="form-label">Message</label>
              <textarea class="form-control" name="message" id="contactMessage" rows="4" required></textarea>
              <div class="invalid-feedback">
                Have you nothing to say?
              </div>
            </div>

            <div class="mb-5">
              <div class="cf-turnstile"
                data-sitekey="0x4AAAAAAAgN8D0_jIR25tfy"
                data-callback="turnstileCallback"
                data-error-callback="turnstileErrorCallback"
                data-theme="dark">
              </div>
              {{!--
                Turnstile Test sitekeys
                --------------
                https://developers.cloudflare.com/turnstile/troubleshooting/testing/
                1x00000000000000000000AA - Always passes
                2x00000000000000000000AB - Always blocks
              --}}
              {{!-- <div class="cf-turnstile"
                data-sitekey="2x00000000000000000000AB"
                data-callback="turnstileCallback"
                data-error-callback="turnstileErrorCallback"
                data-theme="dark">
              </div> --}}
            </div>

            <button class="btn btn-lg btn-outline-light" type="submit">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  {{!-- Project Modals --}}
  {{#each currentProjects}}
    <!-- Project {{title}} Modal -->
    {{#>modal title=title showTitle=false modId=modId colorMode="dark" modifier="modal-xl modal-dialog-centered modal-dialog-scrollable"}}
      {{#*inline "modal-content"}}
        <div class="row gy-2">
          <div class="col-lg pe-lg-5 d-flex flex-column">

            <h3 class="h5 text-body-secondary">{{title}}</h3>
            <h4>{{projectDetailTitle}}</h4>
            <p>{{projectDetail}}</p>
            <div class="d-flex flex-wrap gap-2 pt-1 mb-3">
              {{#each badges}}
                <span class="badge text-dark-emphasis bg-body-secondary">{{this}}</span>
              {{/each}}
            </div>

            <div class="d-flex gap-2 mt-auto">
              {{#if projectUrl}}
              <a href="{{projectUrl}}" class="btn btn-primary btn-sm" target="_blank">
                <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
                Visit website
              </a>
              {{/if}}
              {{!-- <button type="button" class="btn btn-secondary btn-sm ms-auto" data-bs-dismiss="modal">Close</button> --}}
            </div>
          </div>
          <div class="col-lg-7">

            {{#if projectImgs}}
            <div class="swiper swiper-project">
              <div class="swiper-wrapper">
                {{!-- Slides --}}
                {{#each projectImgs}}
                <div class="swiper-slide">
                  {{{image this ../title null 'img-fluid'}}}
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                {{/each}}
              </div>
              <div class="swiper-controls">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            {{/if}}

          </div>
        </div>
      {{/inline}}
      {{#*inline "modal-footer"}}
      {{/inline}}
    {{/modal}}
  {{/each}}
</main>

{{>footer}}
