---
layout: default

meta:
  pgTitle: Boudreau Labs
  pgDesc: Homepage description

skillList:
  - HTML
  - CSS
  - JavaScript
  - Wordpress
  - PHP
  - SASS
  - GIT
  - Github
  - Responsive Design
  - Terminal
  - Static Site Generators
  - CI/CD Pipelines
  - JAMstack

currentProjects:
  - title: Moss Creek - 360 Pano Gallery
    modId: projectMC
    projectUrl: https://gallery.mosscreekmedia.com/
    projectDetailTitle: Data driven panoramic gallery
    projectDetail: 360 Panoramic gallery with multiple tag types, map integration and custom UI all driven from a spreadsheet.
    badges:
      - JAMstack
      - UI Design
      - Javascript
      - Map Inegration
    projectImgs:
      - src/assets/images/projects/mosscreak-306gallery01.jpg
      - src/assets/images/projects/mosscreak-306gallery02.jpg
      - src/assets/images/projects/mosscreak-306gallery03.jpg
  - title: Heron Point Seafood
    modId: projectHPC
    projectUrl: null
    projectDetailTitle: Project Detail Title
    projectDetail: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a nemo voluptates officia cumque ut quas, voluptas nulla aliquid eos.
    badges:
      - Product Design
  - title: Ker & Downey
    modId: projectKD
    projectUrl: https://kerdowney.com/
    projectDetailTitle: Project Detail Title
    projectDetail: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a nemo voluptates officia cumque ut quas, voluptas nulla aliquid eos.
    badges:
      - Frontend Coding
      - Javascript
      - Map Inegration
    projectImgs:
      - src/assets/images/projects/ker-downey-01.jpg
      - src/assets/images/projects/ker-downey-02.jpg
      - src/assets/images/projects/ker-downey-03.jpg
  - title: Kallista
    modId: projectKLSTA
    projectUrl: https://www.kallista.com/
    projectDetailTitle: Project Detail Title
    projectDetail: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a nemo voluptates officia cumque ut quas, voluptas nulla aliquid eos.
    badges:
      - Frontend Coding
      - Javascript
    projectImgs:
      - src/assets/images/projects/kallista01.jpg
      - src/assets/images/projects/kallista02.jpg
  - title: Portsmouth Harbor Cruise
    modId: projectPHC
    projectUrl: https://portsmouthharbor.com/our-cruises/interactive-cruise-map
    projectDetailTitle: Project Detail Title
    projectDetail: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a nemo voluptates officia cumque ut quas, voluptas nulla aliquid eos.
    badges:
      - Frontend Coding
      - Map Inegration
    projectImgs:
      - src/assets/images/projects/portsmouth-harbor-cruise01.jpg
      - src/assets/images/projects/portsmouth-harbor-cruise02.jpg
  - title: Cookie Jar Heirloom
    projectUrl: https://heirloom.boudreaulabs.com/
    projectImgs:
      - src/assets/images/projects/heirloom00.jpg
      - src/assets/images/projects/heirloom01.jpg
      - src/assets/images/projects/heirloom04.jpg
      - src/assets/images/projects/heirloom03.jpg
    modId: projectBFH
    badges:
      - UI Design
      - Print Design
      - Frontend Coding
      - 3D Rendering
      - JAMstack
    projectDetailTitle: Family Shenanigans
    projectDetail: This homemade cookie jar has between passed between my family members now for over 30 years. I was lucky enough to have stewadship of this heirloom recently. Members of my family recieved a series of letters from a fake research agency telling the backstory of the heirloom.

---
<header>
  <nav id="mainNav" class="navbar bg-black navbar-expand-xxl fixed-top" data-bs-theme="dark">
    <div class="container-xxl">
      <a class="navbar-brand" href="#">
        {{{image "src/assets/images/bl-logo.svg" "Boudreau Labs" null null}}}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link"href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-xxl">
    <div class="row align-items-center min-vh-50 py-5">
      <div class="col-lg-10 col-xxl-6">
        {{!-- <img src="{{root}}/assets/images/mindbulb-beakers.png" alt="" class="img-fluid" height="696" width="450"> --}}
        {{!-- {{{image "src/assets/images/mindbulb-beakers.png" "Boudreau Labs" null 'img-fluid'}}} --}}

        <h1 class="display-3">Aaron Boudreau</h1>
        <p class="h4">Creative Technologist</p>
        <p class="lead">I'm a graphic designer, UX/UI designer &amp; front-end web developer. I love building engaging and accessible digital experiences.</p>
      </div>
    </div>
  </div>
</header>

<main id="main-content" tabindex="0" data-bs-spy="scroll" data-bs-target="#mainNav">

  {{!-- About --}}
  <section class="section" id="about">
    <div class="container-xxl">
      <div class="row">
        <div class="col">
          <h2>About</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="h4">Getting to know me</h3>
          <p>I am a detail-oriented and skilled front-end developer with a history in print and digital design. I have evolved into a skilled professional with a keen eye for aesthetics and a lens on accessibility.</p>
          <p>I bring a unique blend of skills and experience to any creative project; driving projects to excellence and ensuring they resonate with a diverse audience.</p>
          <a class="btn btn-outline-primary" href="{{root}}/assets/files/aaron-boudreau-resume.pdf" download>My Resume</a>
        </div>
        <div class="col-lg-6 col-xxl-5 offset-xxl-1">
          <h3 class="h4">Digital Skills</h3>
          <div class="d-flex flex-wrap gap-2 fs-5 pt-1">
            {{#each skillList}}
            <span class="badge text-bg-secondary">{{this}}</span>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Projects --}}
  <section class="section" id="projects">
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-6 position-relative">
          <h2>Recent Projects</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aliquid eveniet inventore nisi illo iste sunt eum, neque, id quasi minus esse est hic voluptatem quae debitis amet alias minima!</p>
        </div>
        <div class="col-lg-6 col-xxl-5 offset-xxl-1">

          <ul class="list-projects">
            {{#each currentProjects}}
            <li>
              {{!-- {{#if projectImgs}}
                {{{image projectImgs.[0] title null 'img-fluid'}}}
              {{/if}} --}}
              <p class="fs-5 mb-2">
                <a class="stretched-link" href="#{{modId}}" data-bs-toggle="modal"><i class="bi bi-plus-lg me-1 fs-6"></i>{{title}}</a>
              </p>
              <div class="d-flex gap-1 flex-wrap">
                {{!-- {{#if projectUrl}}
                <a href="{{projectUrl}}" class="badge text-bg-primary" target="_blank">
                  <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
                  <span class="visually-hidden">Visit website</span>
                </a>
                {{/if}} --}}
                {{#each badges}}
                  <span class="badge bg-secondary">{{this}}</span>
                {{/each}}
              </div>
            </li>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </section>

  {{!-- Contact --}}
  <section class="section" id="contact">
    <div class="container-xxl">
      <div class="row">
        <div class="col">
          <h2>Let's Chat</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-7">

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aliquid eveniet inventore nisi illo iste sunt eum, neque, id quasi minus esse est hic voluptatem quae debitis amet alias minima!</p>
          <br>

          {{!-- formspark.io form --}}
          <form action="https://submit-form.com/{{#if frontofficecfg.production}}iba6EsFp5{{else}}echo{{/if}}" class="needs-validation" novalidate>

            <div class="mb-3">
              <label for="contactName" class="form-label">Your Name</label>
              <input type="text" name="name" class="form-control" id="contactName" required>
              <div class="invalid-feedback">
                Please provide a name.
              </div>
            </div>

            <div class="mb-3">
              <label for="contactEmail" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="contactEmail" required>
              <div class="invalid-feedback">
                Please provide a valid email address.
              </div>
            </div>

            <div class="mb-3">
              <label for="contactMessage" class="form-label">Message</label>
              <textarea class="form-control" name="message" id="contactMessage" rows="4" required></textarea>
              <div class="invalid-feedback">
                Your message appears to be empty!
              </div>
            </div>

            <div class="mb-5">
              <div class="cf-turnstile"
                data-sitekey="0x4AAAAAAAgN8D0_jIR25tfy"
                data-callback="turnstileCallback"
                data-error-callback="turnstileErrorCallback"
                data-theme="dark">
              </div>
              {{!-- <div class="cf-turnstile"
                data-sitekey="2x00000000000000000000AB"
                data-callback="turnstileCallback"
                data-error-callback="turnstileErrorCallback"
                data-theme="dark">
              </div> --}}
            </div>

            <button class="btn btn-lg btn-outline-light" type="submit">Submit</button>
          </form>

        </div>
        <div class="col-lg-4 offset-xxl-1">
          <p class="h5">Email</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi voluptate rem?</p>
        </div>
  </section>

  {{!-- Project Modals --}}
  {{#each currentProjects}}
    <!-- Project {{title}} Modal -->
    {{#>modal title=title showTitle=false modId=modId colorMode="dark" modifier="modal-xl modal-dialog-centered modal-dialog-scrollable"}}
      {{#*inline "modal-content"}}
        <div class="row gy-2">
          <div class="col-lg pe-lg-5 d-flex flex-column">

            <h3 class="h5 text-body-secondary">{{title}}</h3>
            <h4>{{projectDetailTitle}}</h4>
            <p>{{projectDetail}}</p>
            <div class="d-flex flex-wrap gap-2 pt-1 mb-3">
              {{#each badges}}
                <span class="badge text-dark-emphasis bg-body-secondary">{{this}}</span>
              {{/each}}
            </div>

            <div class="d-flex gap-2 mt-auto">
              {{#if projectUrl}}
              <a href="{{projectUrl}}" class="btn btn-primary btn-sm" target="_blank">
                <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
                Visit website
              </a>
              {{/if}}
              {{!-- <button type="button" class="btn btn-secondary btn-sm ms-auto" data-bs-dismiss="modal">Close</button> --}}
            </div>
          </div>
          <div class="col-lg-7">

            {{#if projectImgs}}
            <div class="swiper swiper-project">
              <div class="swiper-wrapper">
                {{!-- Slides --}}
                {{#each projectImgs}}
                <div class="swiper-slide">
                  {{{image this ../title null 'img-fluid'}}}
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                {{/each}}
              </div>
              <div class="swiper-controls">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            {{/if}}

          </div>
        </div>
      {{/inline}}
      {{#*inline "modal-footer"}}
      {{/inline}}
    {{/modal}}
  {{/each}}
</main>

{{>footer}}
